/* main */
.gq-dev-main {
    padding: 70px 0 70px 0;
    border-bottom: 1px solid #eaeaea;
}
.gq-dev-main-title {
    font-size: 30px;
}
.gq-dev-main-content {
    font-size: 15px;
}

/* content */
.gq-dev-content {
    margin-top: 50px;
    padding: 0 60px 60px 60px;
}
.gq-dev-container {
    max-width: 700px;
}
.gq-dev-content-item {
    width: 100%;
    padding: 40px 10px 40px 10px;
    border-bottom: 1px solid #aaaaaa;
}
.gq-dev-content-item .gq-dev-img {
    width: 10%;
    border-radius: 6px;
    float: right;
}
.gq-dev-content-item .gq-dev-content-title {
    font-size: 30px;
    color: #4d5256;
    font-weight: 100;
    line-height: 1.4em;
}
.gq-dev-content-item .gq-dev-content-summary {
    font-size: 14px;
    color: #4d5256;
    margin-top: 10px;
    margin-bottom: 5px;
}
.gq-dev-content-item .gq-dev-content-created {
    font-size: 14px;
    color: #a9afb3;
}




/* mobile */
@media only screen and (max-width: 600px) {
    .gq-dev-main {
        padding: 30px 0 30px 0;
        border-bottom: 1px solid #eaeaea;
    }
    .gq-dev-main-title {
        font-size: 25px;
    }
    .gq-dev-main-content {
        font-size: 11px;
    }
    .gq-dev-content {
        margin-top: 30px;
        padding: 0 2px 0px 2px;
    }
    .gq-dev-content-item .gq-dev-content-title {
        font-size: 20px;
    }
    .gq-dev-content-item .gq-dev-content-summary {
        font-size: 10px;
    }
    .gq-dev-content-item .gq-dev-content-created {
        font-size: 10px;
    }
    .gq-dev-content-item .gq-dev-img {
        width: 15%;
        border-radius: 6px;
    }
    .gq-dev-content-item {
        padding: 20px 5px 20px 5px;
    }
}