.gq-core-ul {
    list-style: none;
    padding-left: 0px !important;
}
.gq-core-ul .gq-core-li {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.gq-core-ul .gq-core-li .inner{
    background-color: white;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.gq-core-ul .gq-core-li .inner .gq-core-item-img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.gq-core-ul .gq-core-li .inner .gq-core-item-container {
    padding: 10px;
    background: white;
    margin: 0 !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.gq-core-ul .gq-core-li .inner .gq-core-item-container .title {
    display: block;
    color: #969696;
    font-size: 15px;
    padding: 0 0 8px 7px;
    border-bottom: 1px solid #ececec;
}
.gq-core-ul .gq-core-li .inner .gq-core-item-container .summary {
    display: block;
    color: #7b7b7b;
    font-size: 12px;
    min-height: 70px;
    padding: 20px 7px 20px 7px;
    border-bottom: 1px solid #ececec;
}
.gq-core-ul .gq-core-li .inner .gq-core-item-container .info {
    padding: 15px 0 10px 7px;
    font-size: 12px;
    display: block;
    color: #7b7b7b;
    position: relative;
}
.gq-core-ul .gq-core-li .inner .gq-core-item-container .gq-share-btn {
    float:right;
    position: absolute;
    top: 12px;
    right: 7px;
}






/* main */
.gq-core-main {
    padding: 70px 0 70px 0;
    background: #f5f5f5;
}
.gq-core-main-title {
    font-size: 30px;
    margin-bottom: 10px;
}
.gq-core-main-content {
    font-size: 15px;
    color: #999999;
}

/* content */
.gq-core-content {
    background: #f5f5f5;
}
.gq-core-category-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
    list-style: none;
    padding-left: 0px;
}
.gq-core-category-wrapper li {
    display: inline-block;
    color: #999999;
}
.gq-core-category-wrapper li.gq-core-category-item {
    min-width: 30px;
}
.gq-core-category-wrapper a {
    color: #999999;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .gq-core-main {
        padding: 30px 0 30px 0;
        border-bottom: 1px solid #eaeaea;
    }
    .gq-core-main-title {
        font-size: 25px;
    }
    .gq-core-main-content {
        font-size: 11px;
    }
    .gq-core-content {
        padding: 30px 2px 0px 2px;
    }
}