/* main */
.gq-core-main {
    padding: 70px;
    border-bottom: 1px solid #eaeaea;
}
.gq-core-main-title {
    font-size: 30px;
}
.gq-core-main-content {
    font-size: 15px;
}

/* content */
.gq-core-content {
    padding: 60px;
    background: #f5f5f5;
}
.gq-core-content-item {
    display: inline-block;
    margin-bottom: 30px;
}
.gq-core-content-item .gq-core-content-item-inner {
    background: #ffffff;
}
.gq-core-content-item .gq-core-content-item-img {
    text-align: center;
}
.gq-core-content-item .gq-core-item-img {
    width: 100%;
    height: 250px;
}
.gq-core-content-item .gq-core-content-body {
    padding: 15px;
}
.gq-core-content-item .gq-core-content-item-title {
    font-size: 20px;
    color: #4d5256;
    font-weight: 100;
    line-height: 1.4em;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.gq-core-content-item .gq-core-content-item-summary {
    font-size: 14px;
    color: #4d5256;
    margin-top: 20px;
    height: 65px;
}
.gq-core-content-item .gq-core-content-item-created {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #a9afb3;
}