/* main */
.gq-core-main {
    padding: 70px;
    border-bottom: 1px solid #eaeaea;
}
.gq-core-main-title {
    font-size: 30px;
}
.gq-core-main-content {
    font-size: 15px;
}

/* content */
.gq-core-content {
    padding: 60px;
    background: #f5f5f5;
}
.gq-core-content-item {
    display: inline-block;
    margin-bottom: 30px;
}
.gq-core-content-item .gq-core-content-item-inner {
    background: #ffffff;
}
.gq-core-content-item .gq-core-content-item-img {
    text-align: center;
}
.gq-core-content-item .gq-core-item-img {
    width: 100%;
    height: 250px;
}
.gq-core-content-item .gq-core-content-body {
    padding: 15px;
}
.gq-core-content-item .gq-core-content-item-title {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4em;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.gq-core-content-item .gq-core-content-item-title a{
    color: #4d5256 !important;
}
.gq-core-content-item .gq-core-content-item-title a:hover {
    color: #4d5256 !important;
    font-weight: 300;
}
.gq-core-content-item .gq-core-content-item-summary {
    font-size: 14px;
    color: #4d5256;
    margin-top: 20px;
    height: 65px;
}
.gq-core-content-item .gq-core-content-item-created {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #a9afb3;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .gq-core-main {
        padding: 30px 0 30px 0;
        border-bottom: 1px solid #eaeaea;
    }
    .gq-core-main-title {
        font-size: 25px;
    }
    .gq-core-main-content {
        font-size: 11px;
    }
    .gq-core-content {
        padding: 30px 2px 0px 2px;
    }
    .gq-core-content-item .gq-core-content-title {
        font-size: 20px;
    }
    .gq-core-content-item .gq-core-content-summary {
        font-size: 10px;
    }
    .gq-core-content-item .gq-core-content-created {
        font-size: 10px;
    }
    .gq-core-content-item .gq-core-img {
        width: 15%;
    }
    .gq-core-content-item {
        padding: 0 5px 20px 5px;
    }
}