/* full-screen */
.gq-fc-section {
    background: url('/GOQUAL/static/img/home/gq_full_screen_img.png') no-repeat;
    background-size: cover;
}
.gq-fc-container {
    position: relative;
    height: 100%;
    width: 80% !important;
}
/* TOP */
.gq-fc-container .gq-fc-top {
    with: 100% !important;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}
.gq-fc-container .gq-fc-top .gq-fc-left {
    float: left;
}
.gq-fc-container .gq-fc-top .gq-fc-right {
    float: right;
}
.gq-fc-container .gq-fc-top .gq-fc-num {
    color: #9e9e9e !important;
    font-weight: bold;
    font-size: 15px;
}
.gq-fc-container .gq-fc-top .gq-fc-lang {
    color: #9e9e9e !important;
    font-size: 15px !important;
    font-weight: bold;
}
/* BOTTOM */
.gq-fc-container .gq-fc-bottom {
    width: 100% !important;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}
.gq-fc-container .gq-fc-bottom .gq-fc-bs-title {
    color: #9e9e9e;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: bold;
}
.gq-fc-container .gq-fc-bottom .gq-fc-bs-content p {
    margin-bottom: 0px !important;
    font-size: 18px;
    color: #b7b7b7 !important;
    font-style: italic;
}

.gq-fc-container .gq-fc-bottom .gq-fc-ci {
    width: 70%;
    margin-bottom: 20px;
}
.gq-fc-container .gq-fc-bottom .gq-fc-contact {
    color: #9e9e9e !important;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'BebasNeue' !important;
}

/* MAIN */
.gq-fc-main-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.gq-fc-main-wrapper .gq-fc-main {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.gq-fc-main-wrapper .gq-fc-main p {
    font-weight: bold;
    font-size: 7.5em;
    margin-bottom: -60px !important;
    letter-spacing: 0px;
    font-style: italic;
    font-family: 'BebasNeue' !important;
}
.gq-fc-main-wrapper .gq-fc-main p.gq-fc-cp-goqual {
    display: none;
}
.gq-fc-main-wrapper .gq-fc-main span {
    color: #3ca8db !important;
}
.gq-fc-main-wrapper .gq-fc-main .gq-fc-label-wrapper {
    margin-top: 50px;
}
.gq-fc-main-wrapper .gq-fc-main .gq-fc-label-wrapper span{
    padding: 4px 11px 4px 11px;
    background: #424242;
    color: white !important;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'BebasNeue' !important;
}



/* scroll down */
.gq-scroll-down{
    width: 150px;
    height: 43px;
    margin-left: -75px;
    line-height: 43px;
    white-space: nowrap;
    position: absolute;
    bottom: 105px;
    left: 50%;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255,255,255, .5) !important;

    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.gq-scroll-down:hover,
.gq-scroll-down:focus{
    text-decoration: none;
    letter-spacing: 6px;
    color: rgba(255,255,255, 0) !important;
}
.gq-scroll-down.static,
.gq-scroll-down.static{
    color: rgba(255,255,255, .4) !important;
}
.gq-scroll-down.static:hover,
.gq-scroll-down.static:focus{
    letter-spacing: 3px;
    color: rgba(255,255,255, .85) !important;
}
.scroll-down-icon{
    width: 26px;
    height: 100%;
    margin-left: -13px;
    position: absolute;
    top: 0;
    left: 50%;
    border: 2px solid rgba(255,255,255, .35);

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;

    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

    -webkit-animation: scroll-down-anim 1s infinite;
    -moz-animation: scroll-down-anim 1s infinite;
    -o-animation: scroll-down-anim 1s infinite;
    animation: scroll-down-anim 1s infinite;
}

.scroll-down-icon:after{
    content: " ";
    width: 2px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: rgba(255,255,255, .35);

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.gq-scroll-down:hover .scroll-down-icon{
    background: rgba(255,255,255, .7);
}

.gq-scroll-down:hover .scroll-down-icon:after{
    background: rgba(0,0,0, .5);
}
.gq-scroll-down.light:hover .scroll-down-icon:after,
.bg-color .scroll-down:hover .scroll-down-icon:after,
.bg-color-alfa .scroll-down:hover .scroll-down-icon:after,
.bg-color-alfa-30 .scroll-down:hover .scroll-down-icon:after,
.bg-color-alfa-50 .scroll-down:hover .scroll-down-icon:after,
.bg-color-alfa-70 .scroll-down:hover .scroll-down-icon:after,
.bg-color-alfa-90 .scroll-down:hover .scroll-down-icon:after{
    background: rgba(255,255,255, .15);
}







/* company */
.gq-cp-container {
    position: relative;
}
.gq-cp {
    background: #ffffff;
    padding: 140px 0 140px 0;
}
.gq-cp .gq-cp-title {
    margin-bottom: 20px;
}
.gq-cp .gq-cp-title p {
    font-size: 30px;
    font-weight: 100 !important;
    color: #4d5256 !important;
    margin-bottom: 0px !important;
}
.gq-cp .gq-cp-content p{
    font-size: 16px;
    font-weight: 300 !important;
    color: #4d5256 !important;
    margin-bottom: 0px !important;
}

/* support */
.gq-sp {
    padding: 100px 0 100px 0;
    background: #fafafa;
}
.gq-sp .gq-sp-container {
    max-width: 910px;
}
.gq-sp .gq-sp-title {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 30px;
}
.gq-sp .gq-sp-title p {
    margin-bottom: 0px !important;
}
.gq-sp .gq-sp-content p {
    color: #4d5256 !important;
    line-height: 25px;
    font-size: 15px;
}
.gq-sp .gq-sp-content p {
    margin-bottom: 0px !important;
    font-weight : 400;
}
.gq-sp .gq-sp-content p:last-child {
    font-size: 17px;
    font-weight: bold;
}

.gq-sp .gq-sp-img img {
    width: 80%;
    margin-top: 38px;
}

/* team */
.gq-team {
    padding: 100px 0 100px 0;
}
.gq-team .gq-line {
    margin: 30px auto;
    width: 55px;
    border: 1px solid #e8e8e8;
}
.gq-team .gq-team-title {
    font-size: 36px;
    font-weight: 100;
}
.gq-team .gq-team-title p {
    font-size: 20px;
    font-weight: 100;
    color: #9e9e9e !important;
}
.gq-team .gq-team-item {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.gq-team .gq-team-item img {
    margin-bottom: 30px;
    width: 100%;
}
.gq-team .gq-team-item .gq-team-name {
    font-size: 20px;
    margin-bottom: 10px;
}
.gq-team .gq-team-item .gq-team-position {
    color: #999999;
    margin-bottom: 5px;
}
.gq-team .gq-team-item .gq-team-sns {
    background-image: url('/GOQUAL/static/img/facebook-hover.png');
    height: 22px;
    width: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}




/* contact */
.gq-contact {
    padding-top: 80px;
    padding-bottom: 90px;
}
.gq-contact .gq-contact-container {
    max-width: 900px;
}
.gq-contact .gq-contact-title {
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 100;
}
.gq-contact .gq-contact-title p {
    font-size: 20px;
    color:#9e9e9e !important;
    margin-top: 10px;
}
.gq-contact #goqual-map {
    height: 350px;
    margin-bottom: 20px;
}
.gq-contact .gq-contact-name {
    font-size: 20px;
    font-weight: 100;
}
.gq-contact .gq-contact-category {
    font-size: 18px;
    margin-bottom: 5px !important;
}
.gq-contact .gq-contact-category-content {
    font-size: 15px;
    font-weight: 100;
    color: #999999;
}



/* mobile */
@media only screen and (max-width: 600px) {
    /* full_screen */
    .gq-fc-section {
        padding-top: 140px;
        padding-bottom: 60px;
    }
    .gq-fc-main-wrapper .gq-fc-main p {
        font-size: 3em;
        letter-spacing: 0px;
        margin-bottom: -20px !important;
        font-family: 'BebasNeue' !important;
    }
    .gq-fc-main-wrapper .gq-fc-main .gq-fc-label-wrapper {
        margin-top: 40px;
    }

    /* cp */
    .gq-cp {
        padding: 60px 0 60px 0;
    }
    .gq-cp .gq-cp-title p {
        font-size: 18px;
    }
    .gq-cp .gq-cp-content p {
        font-size: 14px;
    }

    /* sp */
    .gq-sp {
        padding: 60px 0 60px 0;
    }
    .gq-sp .gq-sp-title p {
        font-size: 22px;
    }
    .gq-sp .gq-sp-content p {
        font-size: 14px;
    }
    .gq-sp .gq-sp-img img {
        margin-top: 40px;
        width: 100%;
    }

    /* team */
    .gq-team {
        padding: 40px 0 40px 0;
    }
    .gq-team .gq-team-title {
        font-size: 25px;
    }
    .gq-team .gq-team-item {
        padding: 20px !important;
    }
    .gq-team .gq-line {
        margin: 15px auto;
    }
    .gq-team .gq-team-item img {
        width: 100%;
        margin-bottom: 20px;
    }
    .gq-team .gq-team-item .gq-team-name {
        margin-bottom: 10px;
    }

    /* contact */
    .gq-contact {
        padding: 60px 0 60px 0;
    }
    .gq-contact .gq-contact-title{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .gq-contact .gq-contact-title p{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .gq-contact #goqual-map {
        height: 200px;
    }
    .gq-contact .gq-contact-content {
        margin-top: 30px;
    }
    .gq-contact .gq-contact-name {
        font-size: 18px;
    }
    .gq-contact .gq-contact-category {
        font-size: 16px;
    }
    .gq-contact .gq-contact-category-content {
        font-size: 14px;
    }


    /* footer */
    div.gq-footer {
        padding: 40px 0 40px 0 !important;
    }
    .gq-footer .gq-footer-text {
        font-size: 18px;
    }
}


