/* main */
.gq-ds{
    padding: 70px 0 70px 0;
}
.gq-ds .gq-ds-container {
    width: 90%;
    max-width: 700px;
}
.gq-ds .gq-ds-profile img {
    width: 15%;
}
.gq-ds .gq-ds-user {
    margin-top: 30px;
    font-size: 20px;
    color: #4d5256;
}
.gq-ds .gq-ds-created {
    margin-top: 10px;
    font-size: 14px;
    color: #9c9c9c;
}
.gq-ds .gq-ds-content {
    margin-top: 10%;
    font-size: 16px;
}

.gq-ds .gq-ds-content img {
    max-width: 90%;
    margin: 3% auto 0 auto;
}
.gq-ds-share {
    border: 1px solid #9a9a9a;
    padding: 15px 0px;
    font-size: 20px;
    border-radius: 6px;
    color: #999999 !important;
}
.gq-ds-share:hover {
    color: #fff !important;
    border: 1px solid #445fa7;
    background-color: #445fa7;
    cursor: pointer !important;
}



/* mobile */
@media only screen and (max-width: 600px) {
    .gq-ds-share {
        border: 1px solid #9a9a9a;
        padding: 15px 60px;
        font-size: 15px;
        color: #fff !important;
        border: 1px solid #445fa7;
        background-color: #445fa7;
        cursor: pointer !important;
    }
}