.gq-ds-ul {
    list-style: none;
    padding-left: 0px !important;
}
.gq-ds-ul .gq-ds-li {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.gq-ds-ul .gq-ds-li .inner{
    background-color: white;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.gq-ds-ul .gq-ds-li .inner .gq-ds-item-img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.gq-ds-ul .gq-ds-li .inner .gq-ds-item-container {
    padding: 10px;
    background: white;
    margin: 0 !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.gq-ds-ul .gq-ds-li .inner .gq-ds-item-container .title {
    display: block;
    color: #969696;
    font-size: 15px;
    padding: 0 0 8px 7px;
    border-bottom: 1px solid #c5c5c5;
}
.gq-ds-ul .gq-ds-li .inner .gq-ds-item-container .summary {
    display: block;
    color: #7b7b7b;
    font-size: 12px;
    min-height: 30px;
    padding: 20px 0 20px 7px;
    border-bottom: 1px solid #c5c5c5;
}
.gq-ds-ul .gq-ds-li .inner .gq-ds-item-container .info {
    padding: 10px 0 0 7px;
    font-size: 12px;
    display: block;
    color: #7b7b7b;
}





/* main */
.gq-ds-main {
    padding: 70px;
    background: #f5f5f5;
}
.gq-ds-main-title {
    font-size: 30px;
    margin-bottom: 10px;
}
.gq-ds-main-content {
    font-size: 15px;
    color: #999999;
}

/* content */
.gq-ds-content {
    padding: 60px;
    background: #f5f5f5;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .gq-ds-main {
        padding: 30px 0 30px 0;
        border-bottom: 1px solid #eaeaea;
    }
    .gq-ds-main-title {
        font-size: 25px;
    }
    .gq-ds-main-content {
        font-size: 11px;
    }
    .gq-ds-content {
        padding: 30px 2px 0px 2px;
    }
}